<%= render 'shared/header' %>

<div class="wp1 m-up us-h">
  <div class="large-11 medium-11 small-11 center text-center user-avatar">  
    <% if @user.avatar.exists? %>
      <div class="large-1 medium-3 small-3 center">
        <%= image_tag(@user.avatar.url(:small), size: "140") %>
      </div>
    <% else %>
      <div class="large-1 medium-3 small-3 center">
        <%= image_tag('default.png') %>
      </div>
    <% end %>
    <div class="large-6 medium-6 small-12 center">
      <h2>
        <%= current_user.name %>
      </h2>
    </div>
    <div class="large-6 medium-6 small-12 center">
      <% if @user.twitter and @user.twitter.include? "@" %>
        <%= link_to "#{@user.twitter}", "https://twitter.com/#{@user.twitter}" %>
      <% elsif @user.twitter %>
        <%= link_to "@#{@user.twitter}", "https://twitter.com/#{@user.twitter}" %>
      <% end %>

      <% if current_user.is? :artist %>
        <%= link_to current_user.email, "mailto:#{@user.email}" %>
        <% if current_user.web_profile %>
          <%= link_to "Ver más", current_user.web_profile %>
        <% end %>
      <% end %>

    </div>
  </div>


  <div class="user-info">
    <% if @user.is? :artist %>
      <div class="large-4 medium-8 small-12 center text-center parent">
        <div class="large-6 medium-6 small-6 inline bb">
          <i class="fa fa-beer"></i>
          <%= link_to "Mis productos", user_profile_path(@user) %>
        </div>
          <div class="large-6 medium-6 small-6 inline bb">
            <%= link_to "Editar mi perfil", edit_user_registration_path, class: "color" %>
          </div>
      </div>
      <% else %>
        <div class="large-4 medium-8 small-12 center text-center parent">
          <div class="large-6 medium-6 small-6 inline bb">
            <i class="fa fa-heart-o"></i>
            <%= link_to "Likes", user_profile_path(@user), class: "" %>
          </div>
            <div class="large-6 medium-6 small-6 inline bb">
              <%= link_to "Editar mi perfil", edit_user_registration_path, class: "color" %>
            </div>
        </div>
      <% end %>


      <div class="large-5 medium-5 small-12 center form">
        



        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
          <%= devise_error_messages! %>

            <div class="large-12 medium-12 panel">
              <%= f.label :avatar %>
              <%= f.file_field :avatar %>
            </div>

          <div class="large-6 medium-6 small-12 inline">
            <%= f.label "email" %><br />
            <%= f.email_field :email, autofocus: true, class: "radius" %>
          </div><!--
          --><div class="large-6 medium-6 small-12 inline">
            <%= f.label "nombre" %><br />
            <%= f.text_field :name, autofocus: true, class: "radius" %>
          </div>

          <div class="large-12">
            <%= f.label "twitter username (opcional)" %><br />
            <%= f.text_field :twitter, autofocus: true, class: "radius" %>
          </div>

          <% if current_user.is? :artist %>
            <div class="large-12">
              <%= f.label "Pagina web, Behance, Deviantart, etc." %><br>
              <%= f.text_field :web_profile, class: "radius" %>
            </div>
          <% end %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="large-12">
            <%= f.label "contraseña actual(necesaria para hacer cambios)" %><br>
            <%= f.password_field :current_password, autocomplete: "off", class: "radius" %>
          </div><br><br>


          <!-- <div class="large-12">
            <%= f.password_field :password, autocomplete: "off", class: "radius" %>
          </div>

          <div class="large-12">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "radius" %>
          </div>
 -->
          


          

          <div class="">
            <%= f.submit "actualizar", class: "button green small expand" %>
          </div>
        <% end %>


        <h3>¿Cancelar mi cuenta?</h3><br>
        <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro de cancelar tu cuenta?"}, method: :delete, class: "button tiny red expand radius" %>
      </div>
  </div>

</div>


