<%= render 'shared/header' %>


<div class="large-4 medium-6 small-12 columns large-centered medium-centered m-up">
  

  <div class="login-box">
    <br>
    <h2 class="text-center columns">Regístro</h2><br><br>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true }) do |f| %>
      <%= devise_error_messages! %>


      <div class="row large-12">
        <%= f.text_field :name, autofocus: true, placeholder: "nombre", class: "" %>
      </div>
      <div class="row large-12">
        <%= f.email_field :email, autofocus: true, placeholder: "email", class: "" %>
      </div>

      <div class="row large-12">
        <%= f.text_field :twitter, autofocus: true, placeholder: "twitter username, sin '@' (opcional)", class: "" %>
      </div>

    <div class="row large-12">
        <%= f.password_field :password, autocomplete: "off", placeholder: "contraseña #{ @minimum_password_length.to_s + ' caracteres como mínimo' if @validatable }", class: "" %>
    </div>

    <div class="row large-12">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "confirmar contraseña", class: "" %>
    </div>

    <div class="row large-12">
      <%= f.button "Regístrate", class: "button small blue expand", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"} %>
    </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>




