<%- if controller_name != 'sessions' %>
	<p class="center">
	  <%= link_to "Inicia sesión", new_session_path(resource_name) %><br />
	</p><br>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p class="center">
  	<%= link_to "Regístrate", new_registration_path(resource_name), class: "" %>
  </p><br> 
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <p class="center"><%= link_to "¿Olvidaste tu contraseña?", new_password_path(resource_name) %></p>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "¿No recibiste las instrucciones de confirmación?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "¿No recibiste las instrucciones de desbloqueo?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>

