
<div class="admin-nav">
	<ul class="side-nav">
		<li data-tooltip title="Inicio" class="logo-home"><%= link_to image_tag('logoz.svg'), root_path %></li>

		<li data-tooltip title="Productos" class="<%= 'active' if current_page?(admin_path) %>">
			<a href="/admin">
				<%= image_tag 'icons/square.svg' %>	
			</a>
		</li>
		<% if can? :update, Charge %>
			<li data-tooltip title="Cargos" class="<%= 'active' if current_page?(admin_charges_path) %>">
				<a href="/admin/charges">
					<%= image_tag 'icons/money.svg' %>	
				</a>
			</li>
		<% end %>
		<% if can? :manage, Static %>
			<li title="Páginas" class="<%= 'active' if current_page?(admin_statics_path) %>">
				<a href="/admin/statics">
					<%= image_tag 'icons/multimedia.svg' %>	
				</a>
			</li>
		<% end %>

		<% if can? :manage, Promo%>
			<li title="Promociones" class=" <%= 'active' if current_page?(admin_promos_path) %>">
				<a href="/admin/promos">
					<%= image_tag 'icons/sign.svg' %>	
				</a>
			</li>
		<% end %>
		<% if can? :manage, Tag %>
			<li title="Tags" class="<%= 'active' if current_page?(admin_tags_path) %>">
				<a href="<%= admin_tags_path %>">
					<%= image_tag 'icons/tag.svg' %>	
				</a>
			</li>
		<% end %>
		<% if can? :manage, Size %>
			<li title="Medidas" class="<%= 'active' if current_page?(admin_sizes_path) %>">
				<a href="<%= admin_sizes_path %>">
					<%= image_tag 'icons/size.svg' %>	
				</a>
			</li>
		<% end %>
		<% if can? :manage, User %>
			<li title="Usuarios" class="<%= 'active' if current_page?(admin_users_path) %>">
				<a href="/admin/users">
					<%= image_tag 'icons/people11.svg' %>	
				</a>
			</li>
		<% end %>
		<li>
			<%= link_to "mi perfil", user_profile_path(current_user), class: "link-user" %>
		</li>
		<li>
			<%= link_to "Salir", destroy_user_session_path, method: :delete %>
		</li>
	</ul>
</div>
