<div class="row" style="padding-bottom: 2rem">
	<div style="width:50%">
		<canvas id="line_chart" height="450" width="600"></canvas>
	</div>
</div>


<script>
	$(function () {
		var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
		var lineChartData = {
			labels : ["En","Feb","Mar","Abr","May","Jun","Jul","Ag","Sept","Oct","Nov","Dic"],
			datasets : [
				{
					label: "2015",
					fillColor : "rgba(151,187,205,0.2)",
					strokeColor : "rgba(151,187,205,1)",
					pointColor : "rgba(151,187,205,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(220,220,220,1)",
					data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(), randomScalingFactor(),randomScalingFactor(), randomScalingFactor(),randomScalingFactor(), randomScalingFactor()]
				}
				// {
				// 	label: "My Second dataset",
				// 	fillColor : "rgba(151,187,205,0.2)",
				// 	strokeColor : "rgba(151,187,205,1)",
				// 	pointColor : "rgba(151,187,205,1)",
				// 	pointStrokeColor : "#fff",
				// 	pointHighlightFill : "#fff",
				// 	pointHighlightStroke : "rgba(151,187,205,1)",
				// 	data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
				// }
			]

		}


		var ctx = $('#line_chart').get(0).getContext("2d");
		var myChart = new Chart(ctx).Line(lineChartData, {
			responsive: true
		});
	});
	
</script>




