<%= render 'admin_nav' %>

<section class="content">
	<br>
	<div class="hu">
		<p><%= @user.role %></p>
	</div>

	<%= form_for(@user, url: user_edit_s_path) do |f| %>

		<table>
			<thead>
				<tr>
					<th></th>
					<th>nombre</th>
					<th>email</th>
					<th>twitter</th>
					<th>ultima ip</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<% if @user.avatar.exists? %>
						<td><%= image_tag(@user.avatar.url(:small), size: "50") %></td>
					<% else %>
						<td><%= image_tag('default.png', size: "50") %></td>
					<% end %>
					<td>
						<%= link_to @user.name, user_profile_path(@user) %>
					</td>
					<td>
						<a href="mailto:<%= @user.email %>"><%= @user.email %></a>
					</td>
					<% if not @user.twitter.blank? %>
						<td>
							<%= link_to @user.twitter, "https://twitter.com/#{@user.twitter}" %>
						</td>
					<% else %>
						<td>n/a</td>
					<% end %>
					<td><%= @user.last_sign_in_ip %></td>
					<td>
						<%= f.radio_button :role, :default %>
						<%= f.label :default %>
						<%= f.radio_button :role, :editor %>
						<%= f.label :editor %>
						<%= f.radio_button :role, :artist %>
						<%= f.label :artist %>
					</td>

				</tr>
			</tbody>
		</table>

	<%= f.button "actualizar", class: "button tiny green large-12" %>
	<% end %>

</section>
