
<%= render 'admin_nav' %>

<section class="content">

	<br>
	<div class="large-6 columns">
		<div class="hu">
			<p><%= @posts.count %></p>
			<h2>Productos</h2>
		</div>
	</div>
	<div class="large-6 columns">
		<div class="hu">
			<p><%= @stock %></p>
			<h2>Inventario</h2>
		</div>
	</div>
	<div class="large-12 columns">
		<div class="hu">
			<p class="text-red"><%= @zero_stock %></p>
			<h2 class="text-red">Productos sin inventario</h2>
		</div>
	</div>



		<% if can? :manage, Post %>
			<%= render 'new_thing', url: new_post_path, title: "Producto nuevo" %>
		<% end %>

		<%= search_form_for(@q, url: admin_path, html:{class: "large-12"}) do |f| %>
			<%= f.search_field :title_or_sku_cont, {placeholder: "buscar producto", class: "radius"} %>
		<% end %>

	<table>
		<thead>
			<tr>
				<th class="la-10"><%= sort_link @q, :created_at, 'Fecha' %></th>
				<th></th>
				<th class="la-20">Titulo</th>
				<th class="la-10"><%= sort_link @q, :stock %></th>
				<th class="la-10"><%= sort_link @q, :user_name, 'Autor' %></th>
				<th class="la-10">Sku</th>
				<th class="la-10"><%= sort_link @q, :price, 'Precio' %></th>
				<th class=""><%= sort_link @q, :published, 'Publicado?' %></th>
				<th class="">Destacado?</th>
				<th class="">Edición</th>
			</tr>
		</thead>
		<tbody>
			<% @posts.each do |post| %>
				<tr>
					<td><%= local_time(post.created_at, '%b %e, %Y') %></td>
					<td>
						<% unless post.pictures.empty? %>
							<div class="th">
								<%= image_tag(post.pictures.first.image.url(:thumbnail), size: "50") %>
							</div>
						<% else %>
							<p>N/A</p>
						<% end %>
					</td>
					<td class="title"><%= link_to post.title, edit_post_path(post) %></td>

					<td><%= post.stock %></td>

					<% if post.user %>
						<td><%= post.user.name %></td>
					<% else %>
						<td>?</td>
					<% end %>

					<td><%= post.sku %></td>
					<td>$<%= post.price %></td>

					
					<td class="publicado">
						<% if post.published %>
							<i class="fa fa-check"></i>
						<% else %>
							<i class="fa fa-close"></i>
						<% end %>
					</td>
					<td class="publicado">
						<% if post.featured %>
							<i class="fa fa-star"></i>
						<% else %>
							<i calss="fa fa-star-o"></i>
						<% end %>
					</td>
					<td>
						<%= link_to "Eliminar", post, method: :delete, data: {confirm: "¿Estas seguro?"}, class: "" %>
					</td>
				</tr>
				<% post.variations.each do |v| %>
					<tr>
						<td></td>
						<td class="text-center">-</td>
						<td><%= v.size %></td>
						<% if v.stock < 11 %>
							<td class="text-red"><%= v.stock %></td>
						<% else %>
							<td class="text-green"><%= v.stock %></td>
						<% end %>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				<% end %>


			<% end %>
		</tbody>
	</table>

	<%= will_paginate @posts, page_links: false %>
</section>
