<%= render 'admin_nav' %>

<section class="content">
	<br>
	<div class="hu">
		<p>Nuevo usuario</p>
	</div>

		<%= simple_form_for @user, url: user_create_path do |f| %>
			<div class="large-12 columns">
				<%= f.input :name, label: 'Nombre', class: "aoisdjoaij" %>
			</div>
			<div class="large-6 columns">
				<%= f.input :email %>
			</div>
			<div class="large-6 columns">
				<%= f.input :role, collection: User::Roles, label: 'Rol' %>
			</div>
			<div class="large-6 columns">
				<%= f.input :password, label: 'Contraseña' %>
			</div>
			<div class="large-6 columns">
				<%= f.input :password_confirmation, label: 'Confirmacion de contraseña' %>
			</div>

			<%= f.submit "guardar", class: "button tiny green large-12" %>
		<% end %>
		

</section>

