<%= render 'admin_nav' %>
<section class="content">
	<br>
	<div class="hu">
		<p><%= @users.count %></p>
		<h2>Users</h2>
		<h2>Hola <%= current_user.name %> (<%= current_user.role %>)</h2>
	</div>
	<%= render 'new_thing', url: user_new_path, title: "nuevo usuario" %>

	<%= search_form_for(@st, url: admin_users_path, html:{class: "large-12"}) do |f| %>
    <%= f.search_field :name_or_twitter_or_email_or_role_cont, {placeholder: "buscar nombre, twitter, email o rol", class: "radius"} %>
  <% end %>
	<table>
		<thead>
			<tr>
				<th>id</th>
				<th><%= sort_link @st, :name, 'Nombre' %></th>
				<th>twitter</th>
				<th><%= sort_link @st, :email, 'Email' %></th>
				<th>current or last sign in IP</th>
				<th><%= sort_link @st, :role, "Rol" %></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<% if user == current_user %>
				<tr>
						<td><%= user.id %></td>
						<td><%= link_to "#{user.name}", user_profile_path(user) %></td>
						<td><a href="https://twitter.com/<%= user.twitter %>">@<%= user.twitter %></a></td>
						<td><a href="mailto:<%= user.email %>"><%= user.email %></a></td>
						<td><%= user.current_sign_in_ip %></td>
						<td><%= user.role %></td>
						<td>
							
						</td>
					</tr>
				<% else %>
					<tr>
						<td><%= user.id %></td>
						<td><%= link_to "#{user.name}", user_profile_path(user) %></td>
						<td><a href="https://twitter.com/<%= user.twitter %>">@<%= user.twitter %></a></td>
						<td><a href="mailto:<%= user.email %>"><%= user.email %></a></td>
						<td><%= user.current_sign_in_ip %></td>
						<td><%= user.role %></td>
						<td>
							<%= link_to "editar", user_edit_path(user) %> |
							<%= link_to "eliminar", user_delete_path(user), method: :delete, data: { confirm: "¿Estas seguro?"} %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
<%= will_paginate @users, page_links: false %>

</section>
