<%= render 'shared/header' %>

<div class="wp1 m-up us-h">
	<div class="large-11 medium-11 small-11 center text-center user-avatar">	
		<% if @user.avatar.exists? %>
			<div class="large-1 medium-3 small-3 center">
				<%= image_tag(@user.avatar.url(:small), size: "140") %>
			</div>
		<% else %>
			<div class="large-1 medium-3 small-3 center">
				<%= image_tag('default.png') %>
			</div>
		<% end %>
		<div class="large-6 medium-6 small-12 center">
			<h2>
				<%= @user.name %>
			</h2>
		</div>
		<div class="large-6 medium-6 small-12 center">
			<% if @user.twitter and @user.twitter.include? "@" %>
				<%= link_to "#{@user.twitter}", "https://twitter.com/#{@user.twitter}" %>
			<% elsif @user.twitter %>
				<%= link_to "@#{@user.twitter}", "https://twitter.com/#{@user.twitter}" %>
			<% end %>


		</div>
	</div>

	<div class="user-info">
		<% if @user.is? :artist %>
			<div class="large-4 medium-8 small-12 center text-center parent">
				<div class="large-4 medium-4 small-4 inline bb">
					<%= link_to "Productos", user_profile_path(@user), class: "color" %>
				</div>
				<% if user_signed_in? and is_this_me? @user %>
					
					<div class="large-4 medium-4 small-4 inline bb">
						<%= link_to "Editar mi perfil", edit_user_registration_path %>
					</div>
				<% end %>
			</div>
			<div class="large-11 medium-11 small-12 center designs">
				<div class="cont">
					<% @products.each do |product| %>
						<% unless product.pictures.empty? %>
							<div class="child large-2 medium-4 small-4 inline">
								<%= link_to image_tag(product.pictures.first.image.url(:small), size: "480"), product_path(product) %>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
			<% else %>
				<div class="large-4 medium-8 small-12 center text-center parent">
					<div class="large-6 medium-6 small-6 inline bb">
						<i class="fa fa-heart"></i>
						<%= link_to "Likes", user_profile_path(@user), class: "color" %>
					</div>
					<% if user_signed_in? and is_this_me? @user %>
						<div class="large-6 medium-6 small-6 inline bb">
							<%= link_to "Editar mi perfil", edit_user_registration_path %>
						</div>
					<% end %>
				</div>
				<div class="large-11 medium-11 small-12 center designs">
					<div class="cont">
					<% @likes.each do |i| %>
						<div class="child large-2 medium4 small-4 inline">
							<% if i.post.pictures.blank? %>
								<%= link_to image_tag('default.jpg', size: '480') %>
							<% else %>
								<%= link_to image_tag(i.post.pictures.first.image.url(:small), size: "480"), product_path(i.post) %>
							<% end %>

						</div>
					<% end %>
					</div>
				</div>
			<% end %>
	</div>
</div>

