<%= render 'shared/header' %>


<div class="large-4 medium-6 small-12 columns large-centered medium-centered m-up">
  

<div class="login-box">
  <br>
  <h2 class="center columns">¿Olvidaste tu contraseña?</h2><br><br>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

    <div class="row large-12 ">
      <%= f.email_field :email, autofocus: true, placeholder: "email", class: "radius" %>
    </div>

    

    <div class="row large-12">
      <!-- while we wait for the login request we can disable the button, this to prevent the button being hit twice or more times -->
      <%= f.button "Enviarme las instrucciones para restablecer la contraseña", class: "button small green radius expand", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"} %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
</div>


