<script type="text/javascript">
	var disqus_shortname = '<%= DISQUS_SHORTNAME %>'; // required: replace example with your forum shortname

	$(document).on('page:load', function() { 

	    var s = document.createElement('script'); s.async = true;
	    s.type = 'text/javascript';
	    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
	    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	}());

</script>
