<footer>
	<div class="center text-center large-11 small-11 medium-11">

		<div class="f one">

				<% @pages.each do |page| %>
					<%= link_to page.title, static_path(page) %>
				<% end %>
				<p>© <%= Time.now.year %> <%= SITE_NAME %> Todos los derechos reservados.</p>
		</div>
		
	</div>
</footer>

