<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area" data-no-turbolink>
    <li class="name">
	    <%= link_to image_tag('logoz.svg'), root_path, class: "logo" %>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->

    <ul class="right">
    	<% if user_signed_in? %>
    		<% if can? :manage, Post %>
		      <li class="has-dropdown">
		        <a href="#" title="mi cuenta" >
              <div class="icon-user"></div>
            </a>
		        <ul class="dropdown">
		      		<li class=""><a href="<%= admin_path %>">Admin</a></li>
		          <li><a href="<%= user_profile_path(current_user) %>">Mis favoritos</a></li>
              <li><a href="<%= edit_user_registration_path %>">Mi perfil</a></li>
		          <li><%= link_to "salir", destroy_user_session_path, method: :delete %></li>
		        </ul>
		      </li>
		      <li class="cart-container">
		      	<a href="<%= cart_charges_path %>" title="ver carrito">
              <div class="icon-cart"></div>
            </a>
            <% if @cart %>
              <% unless @cart.line_items.count < 1 %>
                <div class="cart-count">
                  <%= @cart.line_items.count %>
                </div>
              <% end %>
            <% end %>
		      </li>
    		<% else %>
    			<li class="has-dropdown">
		        <a href="#" title="mi cuenta">
              <div class="icon-user"></div>
            </a>
		        <ul class="dropdown">
		          <li><a href="<%= user_profile_path(current_user) %>">Mis favoritos</a></li>
		          <li><a href="<%= edit_user_registration_path %>">Mi perfil</a></li>
		          <li><%= link_to "salir", destroy_user_session_path, method: :delete %></li>
		        </ul>
		      </li>
		      <li class="cart-container">
            <a href="<%= cart_charges_path %>" title="ver carrito">
              <div class="icon-cart"></div>
            </a>
            <% if @cart %>
              <% unless @cart.line_items.count < 1 %>
                <div class="cart-count">
                  <%= @cart.line_items.count %>
                </div>
              <% end %>
            <% end %>
          </li>
    		<% end %>



    	<% else %>
    		<li>
    			<%= link_to "Inicia sesión", new_user_session_path, class: "" %>
    		</li>
        <li>
          <%= link_to "Registro", new_user_registration_path %>
        </li>
    	<% end %>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left" data-no-turbolink>
      <li><a href="<%= root_path %>">Inicio</a></li>
      <li class="has-dropdown">
      	<a href="#">Marcas</a>
      	<ul class="dropdown">
      		<li class="has-dropdown">
      			<a href="<%= men_path %>">Hombre</a>
      			<ul class="dropdown">
	      			<% Post.men.each do |category| %>
	      				<li><a href="<%= user_profile_path(category.user) %>"><%= category.user.name %></a></li>	
	      			<% end %>
      			</ul>
      		</li>
      		<li class="has-dropdown">
      			<a href="<%= women_path %>">Mujer</a>
      			<ul class="dropdown">
      			<% Post.women.each do |category| %>
      				<li><a href="<%= user_profile_path(category.user) %>"><%= category.user.name %></a></li>	
      			<% end %>
      			</ul>
      		</li>
      		
      	</ul>
      </li>
      <li class="has-form">
      	<%= search_form_for(@q, url: products_path, html:{class: "lp", id: "post_search"}) do |f| %>
	      	<div class="row collapse">
	      		<div class="large-12 small-12 columns">
							<%= f.search_field :title_or_sku_or_tags_name_or_user_name_cont, {placeholder: "buscar", class: ""} %>
	      		</div>
	      	</div>
				<% end %>
      </li>
    </ul>
  </section>
</nav>