<div class="menu-info">
	<div class="image-menu">
	</div>
	<div class="inner2">
		<div class="inner-content">
			<%= search_form_for(@q, url: products_path, html:{class: "sldkjfldkj", id: "post_search2"}) do |f| %>
				<%= f.search_field :title_or_sku_or_tags_name_cont, {placeholder: "buscar producto", class: "radius"} %>
			<% end %>

			<% if user_signed_in? %>
				<% if can? :manage, Post %>
					<a href="<%= root_path %>">
							<i class="fa fa-home inline"></i>
							<p class="inline">Inicio</p>
					</a>
					<a href="<%= admin_path %>">
							<i class="fa fa-sliders inline"></i>
							<p class="inline">Admin</p>
					</a>
					<a href="<%= products_path %>">
							<i class="fa fa-bolt inline"></i>
							<p class="inline">Todos los productos</p>
					</a>
					<a href="<%= user_profile_path(current_user) %>">
							<i class="fa fa-user inline"></i>
							<p class="inline">Perfil</p>
					</a>


						<%= link_to "Salir", destroy_user_session_path, method: :delete, class: "button tiny expand green2 radius" %>
					
				<% else %>

					<a href="<%= root_path %>">
							<i class="fa fa-home inline"></i>
							<p class="inline">Inicio</p>
					</a>
					<a href="<%= products_path %>">
							<i class="fa fa-bolt inline"></i>
							<p class="inline">Todos los productos</p>
					</a>
					<a href="<%= user_profile_path(current_user) %>">
							<i class="fa fa-user inline"></i>
							<p class="inline">Perfil</p>
					</a>

						<%= link_to "salir", destroy_user_session_path, method: :delete, class: "button tiny expand green2 radius" %>
				<% end %>
			<% else %>
				<a href="<%= root_path %>">
							<i class="fa fa-home inline"></i>
							<p class="inline">Inicio</p>
					</a>
					<a href="<%= products_path %>">
							<i class="fa fa-bolt inline"></i>
							<p class="inline">Todos los productos</p>
					</a>

				<%= link_to "Inicia sesión", new_user_session_path, class: "button tiny expand green2 radius" %>
			<% end %>
		</div>
	</div>
</div>


















