<%= form_for(@charge, url: charges_path, method: :post, html: {id: ''} ) do |f| %>

  <!-- <span class="card-errors"><%= flash[:error] if flash[:error]%></span> -->

  <% if @charge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@charge.errors.count, "error") %> prohibited this charge from being saved:</h2>

      <ul>
      <% @charge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="title">
    <h1>Datos de envio</h1>
  </div>

  <div class="large-12 columns">
    <%= f.text_field :name, placeholder: "Nombre", maxlength: "20", class: "radius" %>
  </div>
  <div class="large-12 columns">
    <%= f.text_field :full_address, placeholder: "direccion", class: "radius" %>
  </div>
  
  <hr>


<!-- 
  <div class="title">
    <h1>Datos de envío</h1>
  </div>

  <div class="row">
    <div class="large-6 medium-6 small-12 columns">
      <input class="radius" type="text" data-conekta="card[name]" placeholder="Nombre del tarjetahabiente">
    </div>
    <div class="large-6 medium-6 small-12 columns">
      <input class="radius" type="text" data-conekta="card[number]" placeholder="Numero de tarjeta de crédito" value="4242424242424242" >
    </div>
  </div>

  <div class="row">
    <div class="large-4 medium-4 small-12 columns">
      <input class="radius" type="text" data-conekta="card[cvc]" placeholder="CVC" maxlength="3" >
    </div>
    <div class="large-4 medium-4 small-12 columns">
      <input class="radius" type="text" data-conekta="card[exp_month]" placeholder="Mes expiración (MM)" maxlength="2" >
    </div>
    <div class="large-4 medium-4 small-12 columns">
      <input class="radius" type="text" data-conekta="card[exp_year]" placeholder="Año expiración (AAAA)" maxlength="4">
    </div>
  </div>
 -->
  




  

  <%= f.submit "Comprar", class: "button green radius small expand" %>
<% end %>








