<%= simple_form_for(@size) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Nombre' %>
  </div>

  <div class="form-actions">
    <%= f.submit 'guardar', class: "button green tiny" %>
  </div>
<% end %>
