
<%= render 'admin/admin_nav' %>

<section class="content">

  <br>
  <div class="hu">
    <p><%= @sizes.count %></p>
    <h2>Tamaños</h2>
  </div>

  <% if can? :manage, Size %>
      <%= render 'admin/new_thing', url: new_size_path, title: "Tamaño nuevo" %>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @sizes.each do |size| %>
        <tr>
          <td><%= size.name %></td>
          <td><%= link_to 'Edit', edit_size_path(size) %></td>
          <td><%= link_to 'Destroy', size, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</section>
