<%= form_for(@static) do |f| %>
  <% if @static.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@static.errors.count, "error") %> prohibited this static from being saved:</h2>

      <ul>
      <% @static.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row columns">
    <%= f.label "titulo" %>
    <%= f.text_field :title %>
  </div>
  <div class="row large-12 columns">
    <%= f.label "Contenido" %><br>
    <%= f.text_area :content, class: "ckeditor" %>
  </div>

  <div class="row">
    <div class="large-10 columns select-date">
      <%= f.label "Publicado el" %><br>
      <%= f.datetime_select :published_at, ampm: true, use_short_month: true, add_month_numbers: true %>

    </div>
    <div class="large-2 columns">
      <%= f.label "Publicado?" %><br>
      <%= f.check_box :published %>
    </div>

  </div>
  
  <div class="columns">
    <%= f.submit "Guardar", class: "button small success radius large-12"%>
  </div>
<% end %>

<script type="text/javascript">
  $('.ckeditor').ckeditor({
    // optional config
  });
</script>
