<%= render partial: 'admin/admin_nav' %>
<section class="content">
  <br>

  <div class="hu">
    <p><%= @statics.count %></p>
    <h2>Paginas</h2>
  </div>
  <% if current_user.is?(:admin) %>
    <%= render 'admin/new_thing', url: new_static_path, title: "Pagina nueva" %>
  <% end %>
  <%= search_form_for(@st, url: admin_statics_path, html:{class: "large-12"}) do |f| %>
      <%= f.search_field :title_or_content_cont, {placeholder: "buscar articulo", class: "radius"} %>
  <% end %>

 <table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Titulo</th>
      <th>Contenido</th>
      <th>Publicado?</th>
      <% if current_user.is?(:admin) %>
        <th>Edición</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @statics.each do |static| %>
      <tr>
        <td><%= local_time(static.published_at, '%b %e, %Y') %></td>
        <td>
          <%= link_to static.title, static_path(static) %>
        </td>
        <td><%= truncate(static.content, length: 400, escape: false) %></td>
        <td class="publicado">
          <% if static.published %>
            <i class="fa fa-check"></i>
          <% else %>
            <i class="fa fa-close"></i>
          <% end %>
        </td>
        <% if current_user.is? :admin %>
          <td>
            <%= link_to 'Editar', edit_static_path(static) %>
            <%= link_to 'Eliminar', static, method: :delete, data: {confirm: "Estas seguro?"} %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
 </table>
  <%= will_paginate @posts, page_links: false %>
</section>
