<%= render 'shared/header' %>


<% if notice %>
    <div id="notice">
      <div class="notice-close fa fa-close"></div>
      <p><%= notice %></p>
    </div> 
<% end %>
<% if alert %>
    <div id="alert">
      <div class="notice-close fa fa-close"></div>
      <p><%= alert %></p>
    </div>
<% end %>

<div id="img_title" style="
      background: url(<%= image_path('static.jpg') %>);
      background-size:cover;
      background-position: 50%;
  ">
</div>

<section class="show-content">
	<div class="d-container">

		<% if can? :manage, @static %>
			<%= link_to 'Edit', edit_static_path(@static) %> |
			<%= link_to 'Destruir', @static, method: :delete, data: { confirm: "Estas seguro?"} %><br>
		<% end %>

		
		  <%= sanitize(@static.content) %>

	</div>
</section>





