<div id="cart">

	<table>
		<%= render(cart.line_items) %>

		<tr class="total_line">
			<td colspan="2">Total</td>
			<td class="total_cell">$<%= cart.total_price_cart %></td>
		</tr>

		<%= link_to 'Ir a pagar', new_charge_path, class: "button green tiny radius" %>
		<%= link_to 'Vaciar carrito', cart, method: :delete, data: {confirm: 'Estas seguro?'}, remote: true, class: "button red tiny radius" %>

	</table>
</div>