<%= render 'admin/admin_nav' %>
<section class="content">
  <br>
  <div class="hu">
    <p><%= @tags.count %></p>
    <h2>Tags</h2>
  </div>

  <% if can? :manage, Tag %>
      <%= render 'admin/new_thing', url: new_tag_path, title: "Tag nuevo" %>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tags.each do |tag| %>
        <tr>
          <td><%= tag.name %></td>
          <td><%= link_to 'Editar', edit_tag_path(tag) %></td>
          <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>

