<%= render 'shared/header' %>

<div class="large-5 medium-5 small-8 columns large-centered medium-centered small-centered sign-box">
  

<div class="login-box">
  <br>
  <h2 class="text-center columns">Inicia sesión</h2><br><br>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row large-7 medium-8 small-12 ">        
          <%= f.email_field :email, autofocus: true, placeholder: "email", class: "" %>
    </div>

    <div class="row large-7 medium-8 small-12 ">        
          <%= f.password_field :password, autocomplete: "off", placeholder: "contraseña", class: "" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="row large-7 medium-8 small-12"><%= f.check_box :remember_me %> <%= f.label "Recordarme" %></div>
    <% end -%>

    <div class="row large-7 medium-8 small-12">
      <!-- while we wait for the login request we can disable the button, this to prevent the button being hit twice or more times -->
      <%= f.button "Iniciar sesion", class: "button tiny blue expand", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"} %>
    </div>
  <% end %>

  <div class="row large-7 medium-12 small-12">
    <%= render "devise/shared/links" %>
  </div>

</div>

</div>




















