<%= form_for(@promo) do |f| %>
  <% if @promo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@promo.errors.count, "error") %> prohibited this promo from being saved:</h2>

      <ul>
      <% @promo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row columns">
    <%= f.label "Imagen de la promo(1500x650px)" %>
    <% if f.object.promo_img? %>
      <p><b>Promo actual</b></p><br>
      <%= image_tag(f.object.promo_img.url(:medium)) %>
      <br>
    <% end %>
    <%= f.file_field :promo_img %>
  </div>

  <div class="row large-12 columns">
    <%= f.label "Posición de la promo" %>
    <%= f.select(:position, Promo::Positions, prompt: "selecciona posicion") %>
  </div>
  <div class="row large-12 columns">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="row large-12 columns">
    <%= f.label "Link donde lleva la promo(opcional), incluyendo http:// " %>
    <%= f.text_field :url %>
  </div>
  <div class="row large-12 columns">
    <%= f.label "Descripcion(opcional)" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="columns">
    <%= f.submit "Guardar", class: "button small success radius large-12" %>
  </div>
<% end %>
