<%= render 'admin/admin_nav' %>

<section class="content">
  <br>
  
  <div class="hu">
    <p><%= @promos.count %></p>
    <h2>Promos</h2>
  </div>
  <% if can? :manage, @promos %>
    <%= render 'admin/new_thing', url: new_promo_path, title: "Promo nueva" %>
  <% end %>

  <table>
    <thead>
      <tr>
        <th class="la-10">Id</th>
        <th class="la-20">Imagen</th>
        <th class="la-40">Titulo</th>
        <th class="la-10">Posición</th>
        <th class="la-20">Url</th>
        <th class="la-10">Edición</th>
      </tr>
    </thead>
    <tbody>
      <% @promos.each do |promo| %>
        <tr>
          <td>
            <%= promo.id %>
          </td>
          <td>
            <%= image_tag(promo.promo_img.url(:medium)) %>
          </td>
          <td>
            <%= promo.title %>
          </td>
          <td>
            <%= promo.position %>
          </td>
          <td>
            <%= promo.url %>
          </td>
          <td>
            <%= link_to 'ver', promo %> |
            <%= link_to 'editar', edit_promo_path(promo) %> |
            <%= link_to 'eliminar', promo, method: :delete, data: {confirm: "estas seguro?"} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
