

<%= form_for(@post, html: { multipart: true }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation" class="row">
      <div class="columns">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <p>Favor de subir para los productos fotos de 500x500 pixeles, debidamente editadas y con fondo blanco</p>
  <br>
    
    <div class="row panel">
    <% unless @post.pictures.empty? %>
        <% @post.pictures.each do |picture| %>
          <div class="th">
            <%= image_tag picture.image.url(:small), size: "50" %>
          </div>
          <%= link_to "eliminar", picture, method: :delete, data: {confirm: "Estas seguro?"} %>
        <% end %>
    <% end %>
    <% @image_count.times do |i| %>
      <div class="row">
        <div class="large-6">
          <%= f.file_field "image_#{i}"%>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  

  <div class="row">
    <div class="large-10 columns">
      <%= f.label :titulo %>
      <%= f.text_field :title, class: "radius", maxlength: 30 %>
    </div>
   
    <div class="large-12 columns">
      <%= f.label "Contenido" %>
      <%= f.text_area :content, class: "" %>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <%= f.label "Clave(sku)" %>
      <%= f.text_field :sku, placeholder: "entre 7 y 15 caracteres", maxlength: "15" %>
    </div>
    
    <div class="large-3 columns">
      <%= f.label "Precio costo $" %>
      <%= f.text_field :cost_price %>
    </div>
    <div class="large-3 columns">
      <%= f.label "Precio fake $" %>
      <%= f.text_field :fake_price %>
    </div>
    <div class="large-3 columns">
      <%= f.label "Precio público $" %>
      <%= f.text_field :price %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :tag_ids, "Tags" %><br>
      <%= f.select :tag_ids, Tag.default.collect {|x| [x.name, x.id] },
                                          {prompt: 'tags'},
                                          { multiple: true, class: "chosen-select"} %>
    </div>
  </div><br><br>

  <div class="row">
    <div class="large-4 columns">
      <%= f.label :gender, "Género" %>
      <%= f.select :gender, Post::Gender, {prompt: 'selecciona'}, { class: ""} %><br><br>
    </div>
    <div class="large-4 columns">
      <%= f.label :user_id, "Marca" %>
      <%= f.select :user_id, User.artists.collect { |c| [c.name, c.id] }, {prompt: 'selecciona'}, {class: ""} %><br><br>
    </div>
    <div class="large-4 columns">
      <%= f.label :category, "Categoria" %>
      <%= f.select :category, Post::Category, {prompt: 'categoria'}, {class: ""} %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <%= f.label "Publicado?" %>
      <%= f.check_box :published %>
    </div>
    <div class="large-6 columns">
      <%= f.label "Destacado?" %>
      <%= f.check_box :featured %>
    </div>
   
  </div>

  <br>
  <br>


  <div id="variations" class="row">

    <%= f.fields_for :variations do |p| %>
      <%= render 'variation_fields', f: p %>
    <% end %>

    <div class="link-to-add text-center">
      <%= link_to_add_association 'añadir tamaño', f, :variations %>
    </div>
  </div>
  <br>
  <br>
  

  <div class="row">
    <%= f.submit "guardar cambios", class: "button small success large-12 columns" %>
  </div>

<% end %>

<%= render 'scripts' %>


