<% if user_signed_in? %>
	<li id="post_<%= post.id %>_likes" class="inline text-center like-button">
		<% if user_signed_in? && current_user.likes?(post) %>
			<%= link_to "", post_like_path(post), method: :delete, remote: true, class: "fa fa-heart", title: "Quitar de favoritos" %>
		<% else %>
			<%= link_to "", post_like_path(post), method: :post, remote: true, class: "fa fa-heart-o", title: "Añadir a favoritos" %>
		<% end %>
	</li>
<% else %>
	<li class="inline text-center like-button">
		<a href="#" data-reveal-id="modal" class="fa fa-heart-o" title="Añadir a favoritos"></a>

		<div id="modal" class="reveal-modal text-center" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		  <h2 id="modalTitle">Inicia sesión o registrate para añadir a favoritos!</h2>
		  <br><br><br>
		  <%= link_to 'Inicia sesion', new_user_session_path, class: 'button' %>
		  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div>
	</li>
<% end %>


