
<%= render 'likes', post: post %>

<li>
	<a href="https://twitter.com/intent/tweet?url=<%= url %>" class="tiny button secondary" target="_blank" data-text="noise" data-via="<%= TWITTER_USERNAME %>" title="twitter"><i class="fa fa-twitter"></i></a>
</li>




