<div class="nested-fields row">

	<div class="large-6 small-6 columns">
		<%= f.label :size, "Tamaños" %>
    <%= f.collection_select :size, Size.default, :name, :name, prompt:'selecciona' %>
	</div>
	<div class="large-5 small-5 columns">
		<%= f.label :stock, "Inventario" %>
    <%= f.number_field :stock, placeholder: "cantidad" %>
	</div>
		<div class="link-to-remove large-1 small-1 columns">
			<%= link_to_remove_association 'eliminar', f %>
		</div>
</div>