<%= render 'admin/admin_nav' %>

<section class="b-content">
	<br>
	<br>
	<div class="hu">
		<h2>Editar producto</h2>
	</div>
	<%= render 'form' %>
	<div class="row">
		<%= link_to 'ver producto', @post, class: "button tiny secondary" %>
	</div>
</section>