<%= render 'shared/header' %>

<div class="row">
  <div class="medium-6 columns">
      <div id="for-nav">
        <% if @pictures.empty? %>
          <%= image_tag 'default.jpg', class: "thumbnail center" %>
        <% else %>
        <% @pictures.each do |picture| %>
          <%= image_tag picture.image.url(:small), size: "480", class: "thumbnail center" %>
        <% end %>
      </div>
    <% end %>

    <div class="row slides-nav">
        <% if @pictures.empty? %>
          <div class="column">
            <%= image_tag 'default.jpg', size: "50" %>
          </div>
        <% else %>
          <% @pictures.each do |pic| %>
            <div class="column">
              <%= image_tag(pic.image.url(:thumbnail), size: "100", class: "") %>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>

  <div class="medium-6 large-5 columns info-cart">
    <h2 class="info-title"><%= @post.title %></h2>
    <% if @post.user %>
      <p class="info-author">Por <%= link_to @post.user.name, user_profile_path(@post.user) %></p>
    <% end %>
    <br>
    <p><%= sanitize(@post.content) %></p><br>
     <div class="info-tags">
      <h3>Tags</h3><br>
      <% @post.tags.each do |tag| %>
        <%= link_to "##{tag.name}", tag_find_path(tag.name) %>
      <% end %>
    </div><hr>
    <br>
    <% if @post.stock < 1 %>
      <% if @post.fake_price > 1 %>
          <h3 class="product-price2 text-red">$ <%= @post.fake_price %></h3>
        <% end %>
        <h3 class="product-price">$ <%= @post.price %></h3><br>
        <a href="#!" class="button large expand secondary" disabled="true">Agotado por el momento :(</a>
    <% else %>
        <%= form_for(@line_item, url: line_items_path(product_id: @post)) do |f| %>
          <div class="row">
            <div class="small-12 medium-3 columns">
              <label>Tamaño</label>
            </div>
            <div class="small-12 medium-9 columns">
              <%= f.select :property, @post.variations.reject {|s| s.stock < 1}.collect {|s| [s.size, s.size] },{prompt: 'selecciona medida'}, required: true %>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-3 columns">
              <label>Cantidad</label>
            </div>
            <div class="small-12 medium-9 columns">
              <%= f.number_field :quantity, min: 1, max: 99 %>
            </div>
          </div><br>
          <% if @post.fake_price > 1 %>
            <h3 class="product-price2 text-red">$ <%= @post.fake_price %></h3>
          <% end %>
          <h3 class="product-price">$ <%= @post.price %></h3><br>
          <%= f.button "Añadir al carrito", remote: false, class: "button large blue expand", id: "notify-cart" %>
        <% end %>

    <% end %>


    <ul class="button-group even-2">
      <%= render 'social_buttons', url: product_path(@post), post: @post %>
    </ul>
  </div>

</div>



<div class="row">
  <hr>
  <% if @post.user %>
    <h3>Más de <%= link_to @post.user.name, user_profile_path(@post.user) %></h3>
  <% end %>
    <% if @more %>
      <% @more.each do |p| %>
        <% unless p.pictures.empty? %>
          <div class="small-2 product-th">
            <%= link_to image_tag(p.pictures.first.image.url(:small), size: "140"), product_path(p) %>
          </div>
        <% end %>
      <% end %>
    <% end %>
</div>
<div class="row">
  <%= render 'disqus', url: product_url(@post) %>
</div>



<script type="text/javascript">

  $(document).ready(function(){


    $('#for-nav').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      asNavFor: '.slides-nav'
    });

    $('.slides-nav').slick({
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      centerMode: true,
      centerPadding: '60px',
      focusOnSelect: true,
      asNavFor: '#for-nav',
      prevArrow: "<button type='button' class='slick-prev'><i class='fa fa-angle-left'></i></button>",
      nextArrow: "<button type='button' class='slick-next'><i class='fa fa-angle-right'></i></button>"
    });

  });


</script>


