// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-nav{
	width: 4em;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #f9f7f6;
	text-align: center;
	border-right: 1px solid #ddd;

	i {
		display: block;font-size: 2.3em;
	}
	a {font-size: 9px;}
	p {font-size: 12px;}
	.side-nav { 
		padding: 0.4375rem 0 0 0;
		// position: absolute;
		// bottom: 0;
	}	
	.side-nav li {
		.link-user {color: black;}
		.aktive {	
			background: rgba(30,30,30,0.1);
			a {color: rgba(30,30,30,0.5);}
		}
		&.active {
			border-left: 0.4em solid #3c9ce2;
			a {
				padding-left: 0.675rem;
			}
		}
	}
	.side-nav li a {
		color: rgba(30,30,30,0.5);
	}
	// .side-nav li a:hover {color: rgba(30,30,30,0.9);}
	.side-nav li:hover {background: rgba(30,30,30,0.1);}
	.logo-home {
		// border-bottom: 1px solid rgba(30,30,30,0.2);
		img {width: 100%;}
		// position: absolute;
	}
}
.content{
	.panel {
		background: white;
		h3 {
			font-size: 1.8em;
			font-weight: bold;
			color: #777;
		}
	}
	.hu {
		// width: 100%;
		padding: 2rem 3rem;
		text-align: center;
		line-height: 0.9;
		// border-bottom: 1px solid #ddd;
		margin: 0 auto 2em;
		background: white;
		position: relative;
		border-radius: 3px;
		-webkit-box-shadow: 2px 2px 5px -3px #777;
		-moz-box-shadow: 2px 2px 5px -3px #777;
		box-shadow: 2px 2px 5px -3px #777;
		p {
			font-size: 3em;
			font-weight: 300;
		}
		h2 {
			font-size: 2em;
			font-weight: 300;
		}
	}
	.text-green, .fa.fa-circle, .fa.fa-check {color: #2fdab8;}
	.fa.fa-cc-visa {color: #3c9ce2; font-size: 1.5em;}
	.text-red, .fa.fa-circle-o, .fa.fa-close {color: #ff616e;}
	input[type="search"] {
		// width: 80%;
		// display: inline-block;
	}
	table {
		// margin-top: 1em;
		width: 100%;
		// th {text-align: center;}
		th.la-10 {width: 10%;}
		th.la-20 {width: 20%;}
		th.la-30 {width: 30%;}
		th.la-40 {width: 40%;}
		th.la-50 {width: 50%;}
		td {color: #444; font-weight: 300; vertical-align: middle;}
		// td.title {font-weight: 400;}
		td.publicado {
			text-align: center;
			
			i.fa-star {color: #F2D022}
		}
	}
}


.new-thing {
	width: 3rem;
	height: 3rem;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	text-align: center;
	line-height: 3rem;
	z-index: 2222;
	color: white;
	background: #45D8B4;
	&:hover{

	}
}

.link-to-add {
	clear: both;
	.add_fields {
		background: #e7e7e7;
		line-height: 1;
		color: #333;
		display: block;
		padding: 0.7rem;
		font-size: 0.6875rem;
		width: 7rem;
		// margin: 3rem 0;
	}
}

.link-to-remove {
	width: 0;
	.remove_fields {
    // line-height: 2.4rem;
    position: relative;
    top: 1.8rem;
		font-size: 0.6875rem;
    
	}
}


.side-nav li a:not(.button) {
	img {
		width: 1.5rem;
	}
}



