/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);

$blue2: rgb(35, 48, 63);
$pink: rgb(213,109,124);
$white: rgba(255,255,255,0.94);
$white2: rgba(255,255,255,0.7);

$green1: #96F8E3;
$green2: #2FDAB8;
$green3: #39AC95;
$gray1: #F2F2F2;
$gray2: #F8F8F8;
$blue: #3C9CE2;
$blue2: #4284BB;
$red: #FF616E;
$red2: #E94643;

.admin {
  background: #F2F2F2;
  .cart-box {
    display: none;
  }
}

.inline {
  display: inline-block;
}
.center {
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.pointer {cursor: pointer}

// buttons
.button.green {
  background: $green2;
  &:hover {background: $green3;}
  &:focus {background: $green3;}
}
.button.green2 {
  background: $green3;
  &:hover {background: $green3;}
  &:focus {background: $green3;}
}
.button.blue {
  background: $blue;
  &:hover {background: $blue2;}
  &:focus {background: $blue2;}
}
.button.red {
  background: $red;
  &:hover {background: $red2;}
  &:focus {background: $red2;}
}

.font-red {color: $red;}

.body-p {
  padding-top: 4em;
}

.admin .body-p {
  padding-top: 3em;
}

.d-container {
  width: 65%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}
.content {
  width: 100%;
  margin: 0 auto;
  padding: 0em 2em 5em 6em;
}
.b-content {
  width: 65%;
  max-width: 1170px;
  margin: 0 auto;
  .hu {
    width: 100%;
    padding: 0em 0 3em;
    margin-bottom: 2em;
    text-align: center;
    line-height: 0.8;
    border-bottom: 1px solid #ddd;
    p {
      font-size: 5em;
      font-weight: 300;
    }
    h2 {
      font-size: 3em;
      font-weight: 300;
    }
  }
  .select-date {
    text-align: center;
    select {width: 100px;}
  }

}


@media only screen and (max-width: 768px) {
  .d-container {
    width: 90%;
  }
}

// style of the header  *************************

.top-bar {
  padding: 0 3rem;
  box-shadow: 0px 0px 3px 0px rgba(30, 30, 30, 0.4);;
  margin-bottom: 0.5rem;
  position: relative;
  z-index: 1;
  a {
    color: $gray1;
  }
  .logo {
    img {
      height: 100%;
    }
  }
  .dropdown {
    box-shadow: 0px 2px 6px 1px rgba(30, 30, 30, 0.4);

  }
}

@media only screen and (max-width: 40em) {
  .top-bar {
    padding: 0;
    .logo img {
      position: relative;
      left: 1.5rem;
    }
  }
 }






// Menu_box & Cart_menu ************************ * * * * * * * * * * * * * * 




#cart {
  background: white;
  padding: 0.5rem 2rem 1rem;
  width: 30rem;
  min-width: 100%;

  li {
    height: 3rem;
    .item {
      margin-right: 1.5rem;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .actions {
    .button.green {
      height: 3rem;
      line-height: 2rem;
    }
  }

}

@media only screen and (max-width: 40em) {
  #cart {
    padding: 0; 
    width: 0; 
    min-width: 0; 
  }
 }



// ********* Index **************************


.index {
  color: #555;
  .slick-slide img { width: 100%;}
  .slick-slide .info-box {
    position: absolute;
    width: 100%;
    background: blue;
    top: 0;
    h2 {
      color: white;
      font-weight: 400;
      font-size: 2.2em;
    }
    p {
      color: rgba(250,250,250,0.7);
      font-size: 1.7em;
    }
  }
  .alert {
   
    div {
      text-align: center;
      box-shadow: 0px -2px 3px -2px rgba(0,0,0,0.15);
      background: $blue;
      padding: 2.5em 1.5em;
      transition: all .3s;
      -webkit-transition: all .3s;
      &:hover {
       background: $blue2;
      }
    }
    i {
      margin-top: 7px;
      color: white;
      font-size: 30px;
    }
    h3 {color: white; font-size: 1.5em;}
  }
  
  & .m-down {
    padding: 0 0 1em;
  }
  // remove the space between containers
  .parent {
    letter-spacing: -0.222em;
    line-height: 0;
  }

  .child {
    position: relative;
    letter-spacing: normal;
    
    img {
      width: 100%;
      max-width: 480px;
      height: auto;
      max-height: 480px;
    }
    .d-tag {
      width: 100%;
      height: auto;
      max-height: 480px;
      padding: 3em 1em;
      background: $green2;
      text-align: center;
      a {color: $white;}
    }
    .price {
      position: absolute;
      top: 10px;
      right: 10px;
      background: $green2;
      line-height: 30px;
      height: 30px;
      padding: 0 1em;
      border-radius: 3px;
      color: white; 
      font-weight: 300;
    }
    .price2 {
      position: absolute;
      top: 40px;
      right: 10px;
      // background: $green2;
      line-height: 30px;
      height: 30px;
      padding: 0 1em;
      border-radius: 3px;
      color: $red; 
      font-weight: 300;
      text-decoration: line-through;
    }
    .info {
      width: 100%;
      height: 100%;
      padding: 5px;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(30,30,30,0.6);
      opacity: 0;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      p {color: $white2; font-weight: 400;}
      
      .ee {
        width: 100%;
        line-height: 30px;
        padding: 0.5em 1em 1.5em;
        position: absolute;
        bottom: 0;
        text-align: center;
      }
    }
  }
  .child:hover .info {
    opacity: 1
  }
  .tag {

    a div{
      transition: all .3s;
      -webkit-transition: all .3s;
    }
    a:hover div {
      background: #E5E5E5;
    }  
    
    div {
      color: #999;
      // box-shadow: 0px -2px 3px -2px rgba(0,0,0,0.15);
      padding: 1.2rem 0;
    }
    i {
      margin-top: 10px;
      color: $green2;
    }
    &.b-white {background: white}
  }
  h2 {
    font-size: 1.5em; font-weight: 700; line-height: 1.5;
  }
  h3 {font-size: 1.2em; font-weight: 300; line-height: 1.5; color: #666;}
  h2 a, h2 a:visited {color: #444;}
  

  .contacto-social {
    h3 { font-size: 2.5em; margin-bottom: 2rem;}
    a {
      margin: 0 0.8rem;
      img {
        width: 2rem;
      }
    }
  }
}


// ******************


// footer ************

footer {
  float: left;
  width: 100%;
  position: relative;
  padding: 1em 0;
  width: 100%;
 
  a, p{font-weight: 300; display: inline-block; }

  p {
    font-size: 15px;
    color: #666;
  }
  a {
    font-size: 20px; 
    color: rgba(30,30,30, 0.6);
    margin: 0 5px;
    transition: all .3s;
    -webkit-transition: all .3s;
  }
  a:hover {
    text-decoration: underline; color: rgba(30,30,30,0.9);
  }

  .f {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
  
}
// *************************

.login-box {
  margin: 2em 0 15em;
}



// medium 

@media only screen and (max-width: 64.063em) { 

} 

// mobile

@media only screen and (max-width: 40em) { 
  .index {
    .slides-c {
      display: none;
    }
    .link-all {margin-top: -1em;}
    .m-down {
      padding: 0 0 1em;
    }
  }

  .menu-info {display: inline;}
  .cart-box {
    height: 3em;
    display: inline;
    .image-cart {
      width: 3em;
      height: 3em;
      background-position: 0.7em 0.7em;

    }
    .inner {
      width: 3em;
      height: 3em;
      .inner-content2 {
        table thead th {
          font-size: 0.6em;
          &:nth-child(1) {
            left: 0em;
          }
          &:nth-child(3) {
            left: 0em;
          }
        }
        table tbody tr td {
          &:nth-child(4){font-size: 1em;}
        }
      }
    }
  }

  .cart-box.oo, .menu-info.kk {
    .image-cart {
      -webkit-transform: translate3d(-11.7em, 0, 0);
      transform: translate3d(-11.7em, 0, 0);
    }
    .inner, .inner2 {
      width: 14em;
    }

  }
  .index .child .d-tag { padding: 2em 0;}
  .index .child .d-tag a { font-size: 0.7em;}
  .index .child .info {display: none;}
  .index .contacto-social h3 {font-size: 1.5em}
  .index .alert div {padding: 1.5em;}
  .index .alert h3 {font-size: 1.1em;}
  .index .alert i {margin-top: 0px; font-size: 20px;}

  footer .f {text-align: center;}
  footer a {font-size: 15px;}

  footer p {font-size: 9px; display: block;}
  

  
  .body-p {
    padding-top: 4em;
  }
  #post_search {display: none;}

  .show .social-section .btn {
    margin: -1em;
  }
}





.icon-user, .icon-cart {
  position: relative;
  height: 4rem;
  width: 1rem;
}
.icon-user {
  background: url(icons/user.svg) no-repeat;
  background-position: 0 1.4rem;
}
.icon-cart {
  background: url(icons/cart.svg) no-repeat;
  background-position: 0 1.4rem;
}

.has-dropdown:hover {
  .icon-user {
    background: url(icons/user2.svg) no-repeat;
    background-position: 0 1.4rem;
  }
}
.cart-container:hover {
  .icon-cart {
    background: url(icons/cart2.svg) no-repeat;
    background-position: 0 1.4rem;
  }
}


 
