// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cart-container {
	position: relative;
	.cart-count {
		position: absolute;
		bottom: 0;
		width: 100%;
		background: #2FDAB8;
		height: 1rem;
		line-height: 1rem;
		font-size: 0.8rem;
		color: white;
		text-align: center;
	}
}