// Place all the styles related to the Charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-errors {
	// background: red;
	color: red;
	padding: 0.5em 1em;
	// position: relative;

}

.pay {
	.cart-box {
		display: none;
	}

	.title {
		width: 100%;
		// background: white;
		// margin-top: 1em;
		clear: both;
		h1{
			font-size: 1.7em;
			font-weight: 700;
			padding: 1em 0;
		}	
	}
	.panel-cart {

		// background: white;
		#card-form, #card-form2 {
			.oxxo {
				padding-top: 1em;
			}

			.credit-panel {
				background: #3c9ce2;
				margin-top: 3em;
				padding: 2em;
				box-shadow: 0px 3px 4px -2px #888;
				border-radius: 3px;	
				.title2 {
					padding: 1em 0;
					text-align: left;
					img, h1 {
						vertical-align: middle;
					}
					h1 {
						color: white;
						font-size: 1.2em;
					}
					img {
						float: right;
					}
				}
				input {
					border-bottom: 0px solid #dddddd;
					font-weight: 400;
				}
				.credit-field {
					// width: 33.3%;
					padding-left: 3px;
					padding-right: 3px;
				}
				.w-3 {
					width: 33.3%;
				}
			}
			.pay-button { margin-top: 3em;}
		}
		// border: 1px solid #C8B9B9;
		border-radius: 3px;
		margin-bottom: 2em;
		padding-bottom: 2em;
		table td {vertical-align: middle;}
		
		.c-field {
			clear: both;
			padding: 1em 0.5em;
			.total-h3 {font-size: 1.7em; font-weight: 400;}
			.total-p {font-size: 2em; font-weight: 400; color: #2FDAB8;}
			
		}
		input, textarea {
			box-shadow: 0 0 0;
			margin: 0.5em 0;
			border: 0px solid;
			border-bottom: 2px solid #dddddd;
			font-weight: 700;
			color: #777;
			font-size: 0.9em;
			&:focus {
				color: #555;
			}
		}
		textarea {
			resize: none;
		}
	}
	.panel-cart1 {
		margin-bottom: 2em;
		padding-bottom: 2em;
		table {
			td {vertical-align: middle;}
			thead {
				background: transparent;
			}
		}
		h1 {
			font-size: 1.7em;
			font-weight: 700;
			padding: 1em 0;
		}
		.c-field {
			a { display: inline-block;}
			clear: both;
			padding: 1em 0.5em;
			.total-h3 {font-size: 1.7em; font-weight: 400;}
			.total-p {font-size: 2em; font-weight: 400; color: #2FDAB8;}
			.field-rr {
				h3 {
					color: #999;
					font-weight: 300;
					font-size: 2em;
					padding: 0.5em 0 1em;
				}
				width: 100%;
				display: inline-block;
				padding: 1em 0.5em;
				vertical-align: middle;
				height: 10em;
				// width: 50%;
				background: white;
				border: 1px solid #f5f5f5;
				// border-radius: 3px;
				transition: all 0.3s;
				&:hover {
					border: 1px solid #888;
				}
			}
		}
		#cart-resume {
			.button {
				top: -2px;
			}
			.edit-s {
				width: 9em;
				padding: 0;
				position: relative;
				top: 0.7em;
			}
			.cart-plus {
				margin-right: 1em;
			}
			.cart-minus {
				margin-right: 1em;
			}
		}
	}	
}
.show_charge {
	.p {
		h2{
			font-size: 2em;
			font-weight: bold;
		}
		.n {
			color: #ff616e;
		}
		.price {
			color: #2fdab8;
			font-size: 1.2em;
		}
		padding: 5em 0 15em;
		background: white;
		box-shadow: 0px 1px 4px -2px #888;

	}
}

@media only screen and (max-width: 40em) { 
  #cart-resume {
  	.thumb {
  		display: none;
  	}
  }
}