// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$blue2: rgba(35,48,63, 0.5);
$green: #00bd9b;
$pink: rgb(213,109,124);
$pink2: rgba(213,109,124,0.5);
$white: rgba(250, 250, 250, 0.8);

// canopy
$green1: #96F8E3;
$green2: #2FDAB8;
$green3: #39AC95;
$gray1: #F2F2F2;
$gray2: #F9F9F9;
$gray3: #DFDFDF;
$blue: #3C9CE2;
$red: #FF616E;



.p-tag {
	text-align: center;
	width: 100%;
	padding: 1em 0;
	background: $blue;
	border-radius: 3px;
	margin-bottom: 2em;
	p {color: white;}
}

.p-empty {
	margin: 20em 0;
}

.show {
	h3 {font-size: 1.2em; color: #666; line-height: 1.3em;}

	
	.cont-cart {
		height: 37em;
		background: white;
		// box-shadow: 0px -1px 4px -2px #888;

	}
	.show-slides, .info-cart {
		vertical-align: middle;
		padding: 2em 1em;
	}
	.info-cart {
		// line-height: 1.3em;
		background: white;
		.info-title{
			font-size: 2.4em; 
			font-weight: 700;
			line-height: 1.3em;
		}
		.info-author {
			font-size: 0.9em; 
			color: #C9BBBB;
			// color: $gray3;
			a, a:active {
				color: $blue;
			}
		}
		.product-price {
			font-size: 2.6em;
			font-weight: 700;
			color: $green2;
		}
		.product-price2 {
			font-size: 1.6rem;
			color: $red;
			text-decoration: line-through;
		}
		
		.info-tags {
			a {margin: 0 0.2em;}
			a, a:active {color: $blue;}
			h3 {font-size: 1.2em; color: black; line-height: 1.3em; font-weight: 700;}
		}
	}

	.social-section {
		background: white;
		border-top: 1px solid rgba(30,30,30,0.05);

		// padding: 1em 0;
		> div {
			vertical-align: middle;
			padding-top: 2.3em;
			height: 6em;
			&:nth-child(2) {text-align: right;}
		}
		i {
			font-size: 1.5em;
			margin: 0 1.2em;
			color: #999;
			&:hover {color: #666;}
		}
	}
	.like-button {
		
		.fa-heart, .fa-heart-o {
			color: $red;
		}
		
	}
	.authorr-section {
		background: $gray3;
		padding-left: 0.9375rem;
		// height: 170px;
		h3 {padding-top: 1.9em;}
		> div {
			vertical-align: middle;
			padding-top: 1.6em;
			height: 11em;
			&:nth-child(2) {
				letter-spacing: -0.222em;
		    .child {
		    	letter-spacing: normal;
		    	// background: blue;
		    	display: inline-block;
		    }
			}

		}
	}

	.product-th {
		display: inline-block;
	}


// ************** for the comments
	.disqus-section {
		background: white;
		// border-top: 1px solid rgba(30,30,30,0.1);
		margin-bottom: 2em;
		box-shadow: 0px 1px 4px -2px #888;
		.disqus-container {
			padding: 3em 2em;
		}
	}

// *****************


	.slick-next {right: -30px;}
	.slick-prev {left: -30px;}

	.button.price, .button.price:active {
		background: $green2;
	}
	.button.price:hover {background: $green3;}
	// .padding-top {padding: 2em 0 ;}
}

.pagination {
	width: 100%;
	padding: 2em 0;
	text-align: center;
	clear: both;
	font-weight: 300;
	.previous_page, .next_page{
		width: 7em;
		height: 2.5em;
		display: inline-block;
		border: 1px solid #888;
		line-height: 2.5;
		border-radius: 3px;
	}
	.previous_page.disabled {
		border: 1px solid #ddd;
	}
	.next_page{}
	.disabled {color: #aaaaaa;}
	.current {
		width: 1.4em;
		height: 1.4em;
		font-weight: 400;
		background: #bebebe;
		display: inline-block;
		line-height: 1.5;
		border-radius: 50%;
	}
	a{color: #666;}
}



// mobile small
@media only screen and (max-width: 40em) { 
	.show {
		.show-slides, .info-cart {
			padding: 1em;
		}
	}
	.show .social-section > div:nth-child(2) {text-align: center;}
}
// medium
@media only screen and (min-width: 40.063em) { } 


// Large screens
@media only screen and (min-width: 64.063em) { }