// reset

// canopy
$green1: #96F8E3;
$green2: #2FDAB8;
$green3: #39AC95;
$gray1: #F2F2F2;
$gray2: #F8F8F8;
$blue: #3C9CE2;
$blue2: #4284BB;
$red: #FF616E;
$red2: #E94643;




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
  display: block;
}


ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #666;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 18px;
}
div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice, #alert {
  color: white;
  padding: 1rem;
  // height: 50px;
  font-weight: 300;
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  border-radius: 3px; 
  margin: 0; 
  z-index: 9999;
  p{
    font-size: 13px;
    line-height: 15px;
  }
}

@media only screen and (max-width: 40em) { 
  a {font-size: 12px;}
  #notice, #alert {
    bottom: 1rem;
    left: 0.5rem;
    padding: 0.5rem;

    p {
      font-size: 11px;
      line-height: 30px;
      padding-right: 1em;
    }
  }
}
#alert {
  background: #333;
  opacity: 0.8;
  // color: red;
}
#notice {
  background: #333;
  opacity: 0.8;

}
.field_with_errors {
  width: 100%;
  padding: 2px;
  background-color: $red;
  display: inline-block;
}

#error_explanation {
  // width: 450px;
  width: 100%;
  // border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: $red;
  h2 {
    text-align: center;
    font-weight: 300;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: $red;
    color: #fff;
  }
  ul li {
    color: white;
    font-size: 12px;
    list-style: none;
  }
}
