// Place all the styles related to the UserAdmin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$gray: #F2F2F2;

.body_default {
	background: white;
}
.us-h {
	width: 100%;
	.user-avatar {
		padding: 3em 0;
		.button {
			background: #2FDAB8;
			&:hover {background: #39AC95;}
		}
		h2 {
			font-weight: 700;
			font-size: 2.2em;
			margin: 1em 0; 
		}
		a {
			margin: 0 1em;
		}
	}

	.user-info {
		background: $gray;
		padding: 1em 0; 
		.parent {
			letter-spacing: -0.222em;
			.bb {
				letter-spacing: normal;
				a {color: #999;}
				a.color { color: #444;}
				.fa-heart {color: #FF616E;}
				.fa-heart-o {color: #FF616E;}
				.fa-beer {color: #ECD905;}
			}
		}
		.designs {
			padding: 2em 0;
			letter-spacing: -0.222em;
			.cont {text-align: left;}
			.child {
				padding: 1em;
				letter-spacing: normal;
			}
		}
		.form {
			padding: 2em 0;
		}

	}
}