<p>Hola <%= @resource.email %>!</p>

<p>Has solicitado un link para cambiar tu contraseña. Puedes hacerlo a traves del siguiente link.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no has solicitado esto, solo ignora este email.</p>
<p>Tu contraseña no cambiará hasta que sigas el link arriba mencionado y crees una nueva. </p>
