<% @cart.line_items.each do |item| %>
	<li>
		<div class="item">
			<%= image_tag item.post.pictures.first.image.url(:thumbnail), size: "50" %>
		</div>
		<div class="item">
			x<%= item.quantity %>
		</div>
		<div class="item">
			<%= item.post.title %>
		</div>
		<div class="item">
			$<%= item.total_price_line %>
		</div>
	</li>	
<% end %>

<li class="total">
	<b>Total</b>
	$<%= @cart.total_price_cart %>
</li>

<div class="actions">
	<%= link_to 'Ver carrito', cart_charges_path, class: "button green expand" %>
	<%= link_to 'Vaciar carrito', @cart, method: :delete, data: {confirm: 'Estas seguro?'}, remote: true, class: "button red tiny expand" %>

</div>
