

// $(' #cart').show();
// alert("Producto añadido al carrito");
$('#cart-line').html("<%=j render 'line_items/line_item' %>");
$('.cart-box .counter').html("<%= @cart.line_items.count %>");

// $(function(){
// 	if (!("Notification" in window)) {
// 		alert("This browser does not support desktop notification");
// 	}
// 	else if (Notification.permission === "granted") {
// 		var notification = new Notification("kakto", {body: "Producto añadido al carrito :)", icon:"/assets/kakto.png"});
// 		setTimeout(function(){
// 			notification.close();
// 		}, 1500);
// 	}
// 	else if (Notification.permission !== 'denied') {
// 		Notification.requestPermission(function(permission){
// 			if (permission === "granted") {
// 				var notification = new Notification("kakto", {body: "Producto añadido al carrito :)", icon:"/assets/kakto.png"});
// 				setTimeout(function(){
// 					notification.close();
// 				}, 1500);
// 			}
// 		});
// 	}
// });


// $('header .fa.fa-shopping-cart').css({'color': '#FF616E'});


// $('#notify-cart').on('ajax:success', function() {
// 	$('#cart-line').html("<%=j render 'line_items/line_item' %>");
//   alert("hola");
//   // $(".cart-box .image-cart").html("<%=j render 'charges/cart_resume' %>");
//   // $(".cart-box .image-cart").css('background': 'white');
//   // $('body').css('background':'black');
// });





// $('#current_item').animate({'background-color': 'green'}, 1000);



// $('body .notice').html("<div id='notice'><div class='notice-close fa fa-close'></div><p>Pr</p></div>");

