$('#cart').html("<%=j render 'line_items/line_item' %>");
// $('#current_item').css({'background-color': '#88ff88'}).animate({'background-color': '#114411'}, 1000);

if ($('#cart tr ').length == 1) { $('#cart').hide('blind', 500);}

$('.pay .cart-minus').on('ajax:success', function() {
  
  $("#cart-resume").html("<%=j render 'charges/cart_resume' %>");
});