
// alert("sodhfusdh");
$('#cart-line').html("<%=j render 'line_items/line_item' %>");


// $('#notify-cart').on('ajax:success', function() {
//   // insert the failure message inside the "#account_settings" element
//   // $(this).append(xhr.responseText)
// 	$('#cart-line').html("<%=j render 'line_items/line_item' %>");
// });
$('.pay .cart-plus').on('ajax:success', function() {
  // insert the failure message inside the "#account_settings" element
  // $(this).append(xhr.responseText)
  $("#cart-resume").html("<%=j render 'charges/cart_resume' %>");

});


