<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @line_item.post %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @line_item.cart %>
</p>




<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
