<%= render 'shared/header' %>



	<!-- Slides -->
		<% if @slides %>
	    <div class="large-12 small-12 medium-12 center m-down">
	      <div class="slides-d">
	      	<% @slides.each do |slide| %>
	      	
	      		<div class="">
	      			<% if slide.url.empty? %>
		      			<%= image_tag(slide.promo_img.url()) %>
		      			
	      			<% else %>
		      			<a href="<%= slide.url %>">
			      			<%= image_tag(slide.promo_img.url()) %>
			      			
		      			</a>
	      			<% end %>
	      		</div>
	      	
	      	<% end %>
	      </div>
	    </div>
		<% end %>
	<!--  -->
    

		<!-- Link store -->
			<div class="link-all center small-11 medium-11 large-11 wp1 m-down">
				<div class="alert">
					<a href="<%= products_path %>">
						<div>
							<h3 class="inline">Explorar la tienda</h3>
							<i class="fa fa-angle-right right inline"></i>
						</div>
					</a>
				</div>
			</div>
		<!--  -->

    <!-- Populares -->
    <% if @popular %>
			    	<div class="center large-11 small-11 medium-11 m-down">
			    		<div class="tag b-white">
					  		<div>
						  		<h3 class="inline">
						  			Populares
						  		</h3>
						  		<i class="fa fa-heart right inline"></i>
					  		</div>	  	
					  	</div>
					  	<div class="parent">

			      <% @popular.each do |product| %>
					        <% if product.pictures.empty?%>
						        <a href="<%= product_path(product) %>">
						          <div class="child small-12 medium-4 large-4 inline">
						              <%= image_tag('default.jpg') %>
					                 <div class="info">
					                	<div class="ee">
					                		<p>
						                		<%= product.title %>
					                		</p>
					                	</div>
					                </div>
					                <div class="price">
				                		$<%= product.price %>
				              		</div>
				              		<% if product.fake_price > 1 %>
					              		<div class="price2">
					              			$<%= product.fake_price %>
					              		</div>
				              		<% end %>
						          </div>
						        </a>
					        <% else %>
					        <a href="<%= product_path(product) %>">
					          <div class="child small-12 medium-4 large-4 inline">
					                <%= image_tag(product.pictures.first.image.url(:small), size: "480") %>
					                <div class="info">
					                	
					                	<div class="ee">
					                		<p>
						                		<%= product.title %>
					                		</p>
					                	</div>
					                </div>
					                <div class="price">
				                		$<%= product.price %>
				              		</div>
				              		<% if product.fake_price > 1 %>
					              		<div class="price2">
					              			$<%= product.fake_price %>
					              		</div>
				              		<% end %>
					          </div>
					        </a>
					        <% end %>


			      <% end %>
			    </div>


	    	</div>
    <% end %>

    <!--  -->

    <!-- Ofertas -->
    <!--  -->

		<!-- Recientes -->
		<% if @recent %>
	    <div class="center large-11 small-11 medium-11 m-down">
		  	<div class="tag b-white">
			  		<div>
				  		<h3 class="inline">
				  			Productos frescos
				  		</h3>
				  		<i class="fa fa-calendar right inline"></i>
			  		</div>	  	
		  	</div>

		    <div class="parent">

		      <% @recent.each do |product| %>

		        <% if product.pictures.empty?%>
		          <div class="child small-6 medium-6 large-3 inline">
		          	<a href="<%= product_path(product) %>">
		              <%= image_tag('default.jpg') %>
	                 <div class="info">
		                	
		                	<div class="ee">
		                		<p>
			                		<%= product.title %>
		                		</p>
		                	</div>
		                </div>
		                <div class="price">
	              			<p>
		                		$<%= product.price %>
	              			</p>

	              		</div>
		          	</a>
		          </div>
		        <% else %>
							<a href="<%= product_path(product) %>">
			          <div class="child small-6 medium-6 large-3 inline">
			                <%= image_tag(product.pictures.first.image.url(:small), size: "480") %>
			                <div class="info">
			                	
			                	<div class="ee">
			                		<p>
				                		<%= product.title %>
			                		</p>
			                	</div>
			                </div>
			                <div class="price">
		                		$<%= product.price %>
		              		</div>
		              		<% if product.fake_price > 1 %>
			              		<div class="price2">
			              			$<%= product.fake_price %>
			              		</div>
		              		<% end %>
			          </div>
							</a>		        
		        <% end %>


		      <% end %>
		    </div>
	    </div>
		<% end %>
    <!--  -->

    <!-- Tags -->
    <% if @tags %>
			<div class="center large-11 small-11 medium-11 m-down">
    		<div class="tag b-white">
		  		<div>
			  		<h3 class="inline">
			  			#tags 
			  		</h3>
			  		<i class="fa fa-bolt right inline"></i>
		  		</div>	  	
		  	</div>
		  	<div class="parent">

		      <% @tags.each do |tag| %>
						<% if tag.posts.count >= 2 %>
		          <div class="child small-6 medium-4 large-3 inline">
		              <div class="d-tag">
		              	<%= link_to "##{tag.name}", tag_find_path(tag.name) %>
		              </div>
		          </div>
						<% end %>		       
		      <% end %>
		    </div>


    	</div>    	
    <% end %>

    <!-- -->


<section class="row small-11 medium-11 contacto-social text-center">
  <h3>Siguenos y enterate más sobre nosotros!</h3>
  <div>
    <a href="https://twitter.com/<%= TWITTER_USERNAME %>">
	    <%= image_tag 'icons/twitter.svg' %>
  	</a>
    <a href="<%= FACEBOOK_URL %>">
    	<%= image_tag 'icons/facebook.svg' %>
  	</a>
    <a href="mailto:<%= EMAIL %>" title="<%= EMAIL %>">
	    <%= image_tag 'icons/letter.svg' %>
  	</a>
  </div>
</section>

<script type="text/javascript">
	$(document).ready(function(){
		$('.slides-d').slick({
			infinite: true,
		  slidesToShow: 1,
		  slidesToScroll: 1,
		  autoplay: true,
		  dots: true,
		  arrows: false
		});
	});
</script>

	
