<%= render 'shared/header' %>

    <div class="large-11 medium-11 small-11 wp1 m-down center">
        <div class="parent">
          <% @posts.each_with_index do |product, index| %>

            <% if product.pictures.empty? %>
              <a href="<%= product_path(product) %>">
                <div class="child small-6 medium-6 large-4 inline">
                    <%= image_tag 'default.jpg', size: "480" %>
                     <div class="info">
                       
                        <div class="ee">
                          <p>
                            <%= product.title %>
                          </p>
                        </div>
                      </div>
                      <div class="price">
                        <p>
                          $<%= product.price %>
                        </p>
                      </div>  
                      <% if product.fake_price > 1 %>
                        <div class="price2">
                          $<%= product.fake_price %>
                        </div>
                      <% end %>
                </div>
              </a>
            <% else %>
              <a href="<%= product_path(product) %>">
                <div class="child small-6 medium-4 large-4 inline">
                      <%= image_tag(product.pictures.first.image.url(:small), size: "480") %>
                      <div class="info">
                        
                        <div class="ee">
                          <p>
                            <%= product.title %>
                          </p>
                        </div>
                      </div>
                      <div class="price">
                        <p>
                          $<%= product.price %>
                        </p>
                      </div>
                      <% if product.fake_price > 1 %>
                        <div class="price2">
                          $<%= product.fake_price %>
                        </div>
                      <% end %>
                </div>
              </a>
            <% end %>



            <% if ((index + 1) == 3) && (@promos_index) %>
              <div class="row">
                <div class="large-12 columns">
                  <%= image_tag @promos_index.promo_img.url(:large) %>
                </div>
              </div><hr>
            <% end %>

          <% end %>
        
        </div>
    </div>

<%= will_paginate @posts, page_links: false %>



