	<h1>Resumen de orden</h1>
		<table class="large-11 small-11 medium-11 center">
			<thead>
				<th></th>
				<th>Nombre</th>
				<th>P. Unitario</th>
				<th>Cantidad</th>
				<th>Detalles</th>
				<th>Subtotal</th>
				<th>Modificar</th>
			</thead>
			<tbody>
					<% @cart.line_items.each do |item| %>
					<tr>
						<td class="thumb">
							<% unless item.post.pictures.empty? %>
								<div class="th">
									<%= image_tag item.post.pictures.first.image.url(:thumbnail), size: "50" %>
								</div>
							<% else %>
								<p>N/A</p>
							<% end %>
						</td>
						<td><%= item.post.title %></td>
						<td>$<%= item.post.price %></td>
						<td><%= item.quantity %></td>
						<% if item.post.category == "zapato" %>
							<td><%= item.property.humanize %>, <%= item.post.gender %></td>

						<% else %>
							<td><%= item.property.humanize %>, <%= item.property_2 %></td>
						<% end %>
						<td>$<%= item.total_price_line %></td>
						<td class="edit-s">
							<%= link_to "", increase_line_item_path(item), method: :put, remote: true, class: "cart-plus fa fa-plus" %>
							<%= link_to "", decrease_line_item_path(item), method: :put, remote: true, class: "cart-minus fa fa-minus" %>
						<%= link_to "x", item, method: :delete, data: {confirm: "Estas seguro?"}, class: "button red tiny" %></td>
					</tr>
					<% end %>
					
			</tbody>
		</table>
