<%= form_for(@charge, url: oxxo_create_charges_path, html: {id: 'card-form2'}) do |f| %>
  
  <div class="title text-center ">
    <%= image_tag('logo-oxxo.png', size: '120', class: "oxxo") %>
    <h1>Datos de envío</h1>
    <p>Asegurate de llenar todos los campos correctamente antes de generar el pago.</p><br><br><br>

  </div>

  <% if @charge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@charge.errors.count, "error") %> prohibited this charge from being saved:</h2>

      <ul>
      <% @charge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div id="panel-envio">


  <div class="large-6 medium-6 columns">
    <%= f.text_field :name, placeholder: "nombre completo", class: "", required: true %>
  </div>
  <div class="large-6 medium-6 columns">
    <%= f.text_field :phone_number, placeholder: "numero de telefono", maxlength: "10", class: "", required: true %>
  </div>

  <div class="large-12 columns">
    <%= f.text_area :full_address, placeholder: "direccion completa", class: "", required: true %>
  </div>

  <div class="large-12 columns">
    <%= f.text_field :country, placeholder: "pais", class: "", readonly: true, value: "México" %>
  </div>

  <div class="large-3 medium-3 columns">
    <%= f.text_field :state, placeholder: "estado", class: "", required: true %>
  </div>
  <div class="large-3 medium-3 columns">
    <%= f.text_field :city, placeholder: "ciudad", class: "", required: true %>
  </div>
  <div class="large-3 medium-3 columns">
    <%= f.text_field :zip_code, placeholder: "codigo postal", class: "", maxlength: "5", required: true %>
  </div>
  <div class="large-3 medium-3 columns">
    <%= f.text_field :colonia, placeholder: "colonia", class: "", required: true %>
  </div>
  
</div>





  <div class="large-6 medium-6 small-11 center">
    <%= f.button "Generar pago", class: "button small green expand pay-button radius", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"} %>
  </div>
<% end %>
