<%= form_for(@charge, html: {id: 'card-form'}) do |f| %>

  <div class="title">
    <h1>Datos de envío</h1>
    <p>Asegurate de llenar todos los campos correctamente antes de procesar el pago.</p><br><br>
  </div>

  <% if @charge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@charge.errors.count, "error") %> prohibited this charge from being saved:</h2>

      <ul>
      <% @charge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="panel-envio">


  <div class="large-6 medium-6 columns">
    <%= f.text_field :name, placeholder: "nombre completo", class: "", required: true %>
  </div>
  <div class="large-6 medium-6 columns">
    <%= f.text_field :phone_number, placeholder: "numero de telefono", maxlength: "10", class: "radius", required: true %>
  </div>

  <div class="large-12 columns">
    <%= f.text_area :full_address, placeholder: "direccion completa", class: "", required: true %>
  </div>

  <div class="large-12 columns">
    <%= f.text_field :country, placeholder: "pais", class: "", readonly: true, value: "México" %>
  </div>

  <div class="large-3 medium-3 columns">
    <%= f.text_field :state, placeholder: "estado", class: "", required: true %>
  </div>
  <div class="large-3 medium-3 columns">
    <%= f.text_field :city, placeholder: "ciudad", class: "", required: true %>
  </div>
  <div class="large-3 medium-3 columns">
    <%= f.text_field :zip_code, placeholder: "codigo postal", class: "radius", maxlength: "5", required: true %>
  </div>
  <div class="large-3 medium-3 columns">
    <%= f.text_field :colonia, placeholder: "colonia", class: "", required: true %>
  </div>
  
</div>



    <div class="large-12 medium-12 small-12 columns">
      <div class="center large-12 medium-12 small-12 credit-panel">

            <div class="title2 credit-field">
              <h1 class="inline">Detalles de tarjeta</h1>
              <%= image_tag 'cards.png', size: "150", class: "inline" %>
            </div>      

            <div class="large-12 medium-12 credit-field small-12 ">
              <input class="radius" type="text" data-conekta="card[name]" placeholder="Nombre del tarjetahabiente">
            </div><br><br>
            <div class="large-12 medium-12 credit-field small-12">
              <input class="radius" type="text" data-conekta="card[number]" placeholder="Numero de tarjeta de crédito">
            </div>

            <div class="credit-field w-3 inline">
              <input class="radius" type="text" data-conekta="card[exp_month]" placeholder="Mes expiración (MM)" maxlength="2" >
            </div><!--
            --><div class="credit-field w-3 inline">
              <input class="radius" type="text" data-conekta="card[exp_year]" placeholder="Año expiración (AAAA)" maxlength="4">
            </div><!--
            --><div class="credit-field w-3 inline">
              <input class="radius" type="text" data-conekta="card[cvc]" placeholder="CVC" maxlength="3" >
            </div>
      </div>
      
    </div><br><br>
    <div class="large-12 medium-12 small-12 error-cont">
       <span class="card-errors"></span>
    </div>

   <div class="large-6 medium-6 small-5 center">
    <%= f.button "Procesar pago", class: "button small green pay-button expand radius", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"} %>
   </div>



<% end %>
