<%= render partial: 'admin/admin_nav' %>


<%= form_for(@charge) do |f| %>
<section class="content">
  <div class="panel radius">

      <h3>Detalles del cargo</h3>
      <p>
        <b>Producción?:</b>
        <% if @charge.livemode == "f" %>
          <span class="text-red">no</span>
        <% else %>
          <span class="text-green">si</span>
        <% end %>
      </p><br><br>
      <p>
        <b>Cantidad:</b>
        <span class="text-green">$ <%= @charge.amount %></span>
      </p>
      <p>
        <b>Moneda:</b>
        <%= @charge.currency %>
      </p>
      <p>
        <b>Tipo de cargo:</b>
        <%= @charge.payment_type %>
      </p>
      <p>
        <b>Código de referencia:</b>
        <%= @charge.conekta_id %>
      </p>
      <p>
        <b>Fecha de creación:</b>
        <%= local_time(@charge.created_at, '%m/%e/%y %I:%M%P') %>
      </p><br><br>

      <% if @charge.payment_type == "OXXO" %>
        <p>
          <%= image_tag(@charge.payment_bar_url) %><br>
          <%= @charge.payment_barcode %>
        </p><br><br>
      <% end %>
      <p>
        <b>Estado del pago:</b>
          <% if @charge.conekta_status == "paid" %>
            <span class="text-green">Pagado</span>
          <% elsif @charge.payment_type == "OXXO" %>
            <% if @charge.status == "enviado" or @charge.status == "listo_para_envio" or @charge.status == "pago_recibido" %>
              <span class="text-green">
                Pagado
              </span>
            <% else %>
              <span class="text-red"><%= @charge.conekta_status.humanize %></span>
            <% end %>
          <% end %>
      </p><br>

      <p>
        <b>Numero de rastreo:</b>

        <%= f.text_field :ship_number, class: "radius" %>
        
      </p><br>

      <% if current_user.is? :editor and @charge.status == "enviado" %>
        <p>
          <b>Estado del envío:</b>
          <%= @charge.status %>
        </p>
      <% else %>
        <p>
          <b>Estado del envío:</b>
          <%= f.select :status, Charge::Stages %>
        </p>
      <% end %>

      
    </div>

    <div class="panel radius">
      <h3>Detalles del envío</h3>
      <p>
        <b>País:</b>
        <%= @charge.country %>
      </p>
      <p>
        <b>Estado:</b>
        <%= @charge.state %>
      </p>
      <p>
        <b>Ciudad:</b>
        <%= @charge.city %>
      </p>
      <p>
        <b>Colonia:</b>
        <%= @charge.colonia %>
      </p>
      <p>
        <b>Código postal:</b>
        <%= @charge.zip_code %>
      </p>
      <p>
        <b>Direccion completa:</b>
        <%= @charge.full_address %>
      </p>
      <p>
        <b>Nombre envío:</b>
        <%= @charge.name %>
      </p>
      <p>
        <b>Telefono:</b>
        <%= @charge.phone_number %>
      </p>
      <p>
        <b>Servicio de envío:</b>
        <%= @charge.delivery_service %>
      </p>
    </div>
    <div class="panel radius">
      <h3>Detalles del usuario</h3>
      <p>
        <b>Nombre:</b>
        <%= @charge.user.try(:name) %>
      </p>
      <p>
        <b>Email:</b>
        <%= @charge.user.try(:email) %>
      </p>
      
    </div>


     <div class="large-12 medium-12 small-12 center">
      <%= f.submit "actualizar", class: "button tiny green expand radius" %>
     </div>



</section>
<% end %>


  

