<%= render 'shared/header' %>

<div class="row medium-11 small-11">
	<div class="center text-center panel-cart1">
		<div id="cart-resume">
				<%= render 'cart_resume' %>
		</div>
		<div class="large-11 medium-11 small-11 center c-field">
			<h3 class="inline left">Subtotal</h3>
			<p class="inline right">$ <%= @cart.total_price_cart %> MXN</p>
		</div>
		<div class="large-11 medium-11 small-11 center c-field">
			<h3 class="inline left">Envio</h3>
			<p class="inline right">*$ <%= @ship_price %> MXN</p>
		</div>
		<div class="large-11 medium-11 small-11 center c-field">
			<h3 class="inline left total-h3">Total</h3>
			<p class="inline right total-p">$ <%= @cart.total_price_cart + @ship_price %> MXN</p>
		</div><br><br>
		<div class="large-11 medium-11 small-11 center">
			<%= link_to "actualizar precios", cart_charges_path, class: "button green small expand" %>
			<%= link_to "eliminar todo el carrito", @cart, method: :delete, data: {confirm: 'Estas seguro de eliminar todo el carrito?'}, class: "expand" %>
		</div>

		<div class="large-11 medium-11 small-11 center text-center c-field">
				<a href="<%= new_charge_path %>" data-no-turbolink class="large-6 medium-12 small-12">
					<div class="field-rr">
						<h3>pagar con tarjeta</h3>
						<%= image_tag 'cards.png', size: '400', class: "inline" %>
					</div>
				</a><!--
			--><a href="<%= oxxo_charges_path %>" data-no-turbolink class="large-6 medium-12 small-12">
					<div class="field-rr">
						<h3>pagar con </h3>
						<%= image_tag 'logo-oxxo.png', size: '130' %>
					</div>
				</a><!-- -->
		</div>
		<div class="large-11 medium-11 small-11 center text-center">
			<p>* El costo de envio se calcula de la siguiente manera: $<%= SHIP_PRICE %> pesos por cada 2 productos.</p>
		</div>
	</div>

</div>
