<%= render 'admin/admin_nav' %>
<section class="content">
  <br>
  <div class="hu">
    <p><%= @charges.count %></p>
    <h2>Cargos</h2>
  </div>



  <%= search_form_for(@st, url: admin_charges_path, html:{class: "large-12"}) do |f| %>
    <%= f.search_field :user_email_or_payment_type_or_city_or_state_or_conekta_id_cont, {placeholder: "buscar email, tipo de pago, ciudad, estado o codigo de referencia", class: "radius"} %>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>produccion?</th>
        <th><%= sort_link @st, :payment_type, 'Tipo de pago' %></th>
        <th><%= sort_link @st, :amount, 'Cantidad' %></th>
        <th><%= sort_link @st, :conekta_status, 'Estado del pago en conekta' %></th>
        <th><%= sort_link @st, :created_at, 'Fecha' %></th>
        <th><%= sort_link @st, :user_email, 'Email' %></th>
        <th><%= sort_link @st, :status, 'Estado del envio' %></th>
        <th><%= sort_link @st, :ship_number, 'Numero de rastreo' %></th>

        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @charges.each do |charge| %>
        <tr>
          <% if charge.livemode == "f" %>
            <td class="text-center"><i class="fa fa-circle-o"></i></td>
          <% else %>
            <td class="text-center"><i class="fa fa-circle"></i></td>
          <% end %>

          <td class="text-center">
            <% if charge.payment_type == "OXXO" %>
              <%= image_tag('logo-oxxo.png', size: "30") %>
            <% else %>
              <i class="fa fa-cc-visa"></i>
            <% end %>
          </td>

          <td class="">$ <b><%= charge.amount %>.00</b></td>


          <% if charge.conekta_status == "paid" %>
            <td class="text-green"><b>Pagado</b></td>
          <% elsif charge.payment_type == "OXXO" %>
            <% if charge.status == "enviado" or charge.status == "listo_para_envio" or charge.status == "pago_recibido" %>
              <td class="text-green">
                <b>Pagado</b>
              </td>
            <% else %>
              <td class="text-red"><%= charge.conekta_status.humanize %></td>
            <% end %>
          <% end %>


          <td><%= local_time(charge.created_at, '%m/%e/%y %I:%M%P') %></td>
          <td><%= charge.user.try(:email) %></td>
          <td><%= charge.status.to_s.humanize %></td>

          <% if charge.ship_number.to_s.length == 0 %>
            <!-- <td><%= charge.ship_number %></td> -->
            <td class="text-center"><i class="fa fa-close"></i></td>
          <% else %>
            <td class="text-center"><i class="fa fa-check"></i></td>
          <% end %>

          
          
          <td><%= link_to 'Ver', charge %></td>
          <td><%= link_to 'Editar', edit_charge_path(charge) %></td>
          <% if can? :destroy, Charge %>
            <td><%= link_to 'Destroy', charge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= will_paginate @charges, page_links: false %>

</section>




