<%= render 'shared/header' %>


<div class="row medium-12 small-12 wp1">
	<div class="m-up center panel-cart radius small-11">
		<div class="large-11 medium-11 small-12 center c-field">
			<h3 class="inline left">Subtotal</h3>
			<p class="inline right">$ <%= @cart.total_price_cart %> MXN</p>
		</div>
		<div class="large-11 medium-11 small-12 center c-field">
			<h3 class="inline left">Envio</h3>
			<p class="inline right">$ <%= @ship_price %>.0 MXN</p>
		</div>
		<div class="large-11 medium-11 small-12 center c-field">
			<h3 class="inline left total-h3">Total</h3>
			<p class="inline right total-p">
				$ <%= @total_price %> MXN
			</p>
		</div>

		<hr>



		<div class="large-11 center">
					<%= render 'form_oxxo' %>
		</div>
	</div>

</div>