<%= render partial: 'admin/admin_nav' %>


<section class="content">


  <div class="panel radius">

    <h3>Detalles del cargo</h3>
    <p>
      <b>Producción?:</b>
      <% if @charge.livemode == "f" %>
        <span class="text-red">no</span>
      <% else %>
        <span class="text-green">si</span>
      <% end %>
    </p><br><br>
    <p>
      <b>Cantidad:</b>
      <span class="text-green">$ <%= @charge.amount %> (incluido envío)</span>
    </p>
    <p><b>Costo envio:</b>$ <%= SHIP_PRICE %> (costo por guia)</p>

    <p>
      <b>Moneda:</b>
      <%= @charge.currency %>
    </p>
    <p>
      <b>Tipo de cargo:</b>
      <% if @charge.payment_type == "OXXO" %>
        <%= image_tag('logo-oxxo.png', size: "40") %>
      <% else %>
        <i class="fa fa-credit-card"></i>
        <%= @charge.payment_type %>
      <% end %>
    </p>
    <p>
      <b>Fecha de creación:</b>
      <%= local_time(@charge.created_at, '%m/%e/%y %I:%M%P') %>
    </p><br>
    <p>
      <b>Código de referencia:</b>
      <%= @charge.conekta_id %>
    </p><br><br>

    <% if @charge.payment_type == "OXXO" %>
      <p>
        <%= image_tag(@charge.payment_bar_url) %><br>
        <%= @charge.payment_barcode %>
      </p><br><br>
    <% end %>


    <table>
      <thead>
        <b>Productos comprados</b><br><br>
        <tr>
          <th></th>
          <th>sku</th>
          <th>nombre</th>
          <th>precio unidad</th>
          <th>cantidad</th>
          <th>propiedades</th>
          <th>subtotal</th>
        </tr>
      </thead>
      <tbody>
        <% @charge.line_items.each do |item| %>
          <tr>
            <td>
              <% unless item.post.pictures.empty? %>
                <div class="th">
                  <%= image_tag item.post.pictures.first.image.url(:thumbnail), size: "50" %>
                </div>
              <% else %>
                <p>N/A</p>
              <% end %>
            </td>
            <td><%= item.post.sku %></td>
            <td><%= item.post.title %></td>
            <td>$<%= item.post.price %></td>
            <td>x<%= item.quantity %></td>
            <% if item.property == "default" %>
              <td></td>
            <% else %>
              <td><%= item.property.humanize %>, <%= item.property_2 %></td>
            <% end %>
            <td>$<%= item.total_price_line %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br><br><br>


    <p>
      <b>Estado del pago:</b>
        <% if @charge.conekta_status == "paid" %>
          <span class="text-green">Pagado</span>
        <% elsif @charge.payment_type == "OXXO" %>
          <% if @charge.status == "enviado" or @charge.status == "listo_para_envio" or @charge.status == "pago_recibido" %>
            <span class="text-green">
              Pagado
            </span>
          <% else %>
            <span class="text-red"><%= @charge.conekta_status.humanize %></span>
          <% end %>
        <% end %>
    </p>
    <p>
      <b>Numero de rastreo:</b>
      <% if @charge.ship_number %>
        <%= @charge.ship_number %>
        <%= link_to "enviar numero de guia", send_number_charge_path(@charge), class: "inline button tiny green radius", method: :put, data: {confirm: "Estas seguro de enviar el numero de guia?, ya lo has enviado #{ @charge.counter ? @charge.counter : 0 } veces"} %>
      <% else %>
        <span class="text-red">
          <i class="fa fa-close"></i> aún no proporcionado
        </span>
      <% end %>
    </p>

  
    <p>
      <b>Estado del envío:</b>
      <%= @charge.status.humanize %>
    </p>
    
  </div>

  <div class="panel radius">
    <h3>Detalles del envío</h3>
    <p>
      <b>País:</b>
      <%= @charge.country %>
    </p>
    <p>
      <b>Estado:</b>
      <%= @charge.state %>
    </p>
    <p>
      <b>Ciudad:</b>
      <%= @charge.city %>
    </p>
    <p>
      <b>Colonia:</b>
      <%= @charge.colonia %>
    </p>
    <p>
      <b>Código postal:</b>
      <%= @charge.zip_code %>
    </p>
    <p>
      <b>Direccion completa:</b>
      <%= @charge.full_address %>
    </p>
    <p>
      <b>Nombre envío:</b>
      <%= @charge.name %>
    </p>
    <p>
      <b>Telefono:</b>
      <%= @charge.phone_number %>
    </p>
    <p>
      <b>Servicio de envío:</b>
      <%= @charge.delivery_service %>
    </p>
  </div>
  <div class="panel radius">
    <h3>Detalles del usuario</h3>
    <p>
      <b>Nombre:</b>
      <%= @charge.user.try(:name) %>
    </p>
    <p>
      <b>Email:</b>
      <%= @charge.user.try(:email) %>
    </p>
    
  </div>



  
  <%= link_to 'Editar', edit_charge_path(@charge), class: "button green tiny expand radius" %>

</section>



