<!DOCTYPE html>
<html class="no-js" lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="<%= META_DESCRIPTION %>">
	<meta name="keywords" content="<%= META_KEYWORDS %>">

  <title><%= SITE_NAME %></title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <!-- Favicon -->
	<link rel="shortcut icon" href="<%= asset_path 'isologo.ico' %>" type="image/icon">

	<script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.0/js/conekta.js"></script>
	<script type="text/javascript">
		// Conekta Public Key
		Conekta.setPublishableKey('<%= CONEKTA_PUBLIC_KEY %>');
	</script>




  <%= csrf_meta_tags %>
</head>
<body class="<%= @body_class ? @body_class : 'body_default' %>">

<%= render 'shared/analytics' %>
<%= render 'shared/facebbok_sdk' %>


	<main class="">
		<%= render 'shared/alert' %>
		<%= yield %>
		<%= render 'shared/footer' %>
	</main>


	<%= render 'shared/jivo_chat' %>
	<%= render 'shared/scripts' %>

</body>
</html>
